In [5]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib
from sklearn.impute import SimpleImputer

df = pd.read_csv('BHP_updated_fixed.csv')
df.head()

,area_type,availability,location,size,society,total_sqft,bath,balcony,kitchen,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,1,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,1,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,1,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,1,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,1,51.00

In [6]:
df.isnull().sum()

area_type          0
availability       0
location           1
size              16
society         5502
total_sqft         0
bath              73
balcony          609
kitchen            0
price              0
dtype: int64

In [7]:
df.drop(['society'], axis=1, inplace=True)
df.head(3)

,area_type,availability,location,size,total_sqft,bath,balcony,kitchen,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,1056,2.0,1.0,1,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,2600,5.0,3.0,1,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,1440,2.0,3.0,1,62.00

In [8]:
df.shape

(13320, 9)

In [9]:
from sklearn.impute import SimpleImputer
imputer=SimpleImputer(missing_values=np.nan,strategy='mean')
df['balcony']=imputer.fit_transform(df['balcony'].values.reshape(-1,1))[:,0]
df['bath']=imputer.fit_transform(df['bath'].values.reshape(-1,1))[:,0]

In [10]:
from sklearn.impute import SimpleImputer
imputer=SimpleImputer(missing_values=np.nan,strategy='most_frequent') # Changed strategy to 'most_frequent'
df['size']=imputer.fit_transform(df['size'].values.reshape(-1,1))[:,0]

In [11]:
df['bhk'] = df['size'].astype(str).apply(lambda x: int(x.split(' ')[0]) if len(x.split(' ')) > 0 else None)

In [12]:
def sqft_value(x):
  try:
    float(x)
  except:
    return False
  return True

df[~df.total_sqft.apply(sqft_value)].head(10)

,area_type,availability,location,size,total_sqft,bath,balcony,kitchen,price,bhk
30,Super built-up Area,19-Dec,Yelahanka,4 BHK,2100 - 2850,4.00000,0.000000,1,186.000,4
56,Built-up Area,20-Feb,Devanahalli,4 Bedroom,3010 - 3410,2.69261,1.584376,2,192.000,4
81,Built-up Area,18-Oct,Hennur Road,4 Bedroom,2957 - 3450,2.69261,1.584376,1,224.500,4
122,Super built-up Area,18-Mar,Hebbal,4 BHK,3067 - 8156,4.00000,0.000000,2,477.000,4
137,Super built-up Area,19-Mar,8th Phase JP Nagar,2 BHK,1042 - 1105,2.00000,0.000000,1,54.005,2
165,Super built-up Area,18-Dec,Sarjapur,2 BHK,1145 - 1340,2.00000,0.000000,1,43.490,2
188,Super built-up Area,Ready To Move,KR Puram,2 BHK,1015 - 1540,2.00000,0.000000,1,56.800,2
224,Super built-up Area,19-Dec,Devanahalli,3 BHK,1520 - 1740,2.69261,1.584376,2,74.820,3
410,Super built-up Area,Ready To Move,Kengeri,1 BHK,34.46Sq. Meter,1.00000,0.000000,1,18.500,1
549,Super built-up Area,18-Sep,Hennur Road,2 BHK,1195 - 1440,2.00000,0.000000,1,63.770,2

In [13]:
def convert_sqft_to_num(x):
    tokens = x.split('-')
    if len(tokens) == 2:
        return (float(tokens[0])+float(tokens[1]))/2
    try:
        return float(x)
    except:
      return None

df2 = df.copy()
df2.total_sqft = df2.total_sqft.apply(convert_sqft_to_num)
df2.head(10)

,area_type,availability,location,size,total_sqft,bath,balcony,kitchen,price,bhk
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,1056.0,2.0,1.000000,1,39.07,2
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,2600.0,5.0,3.000000,1,120.00,4
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,1440.0,2.0,3.000000,1,62.00,3
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,1521.0,3.0,1.000000,1,95.00,3
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,1200.0,2.0,1.000000,1,51.00,2
5,Super built-up Area,Ready To Move,Whitefield,2 BHK,1170.0,2.0,1.000000,2,38.00,2
6,Super built-up Area,18-May,Old Airport Road,4 BHK,2732.0,4.0,1.584376,2,204.00,4
7,Super built-up Area,Ready To Move,Rajaji Nagar,4 BHK,3300.0,4.0,1.584376,1,600.00,4
8,Super built-up Area,Ready To Move,Marathahalli,3 BHK,1310.0,3.0,1.000000,2,63.25,3
9,Plot Area,Ready To Move,Gandhi Bazar,6 Bedroom,1020.0,6.0,1.584376,2,370.00,6

In [14]:
df2.loc[30]

area_type       Super built-up  Area
availability                  19-Dec
location                   Yelahanka
size                           4 BHK
total_sqft                    2475.0
bath                             4.0
balcony                          0.0
kitchen                            1
price                          186.0
bhk                                4
Name: 30, dtype: object

In [15]:
df4 = df2.copy()
df4['price_per_sqft'] = (df4['price']*100000) / df4['total_sqft']
df4.head(3)
len(df4.location.unique())

1306

In [16]:
df4.location = df4.location.astype(str).apply(lambda x: x.strip())
location_stats = df4['location'].value_counts(ascending=False)
location_stats_less_than_10 = location_stats[location_stats<=10]
location_stats_less_than_10

location
BTM 1st Stage                         10
Nagadevanahalli                       10
Basapura                              10
Sector 1 HSR Layout                   10
Dairy Circle                          10
                                      ..
1Channasandra                          1
Hosahalli                              1
Vijayabank bank layout                 1
near Ramanashree California resort     1
Abshot Layout                          1
Name: count, Length: 1054, dtype: int64

In [17]:
df4.location = df4.location.apply(lambda x: 'other' if x in location_stats_less_than_10 else x)
len(df4.location.unique())

242

In [18]:
df4.shape

(13320, 11)

In [19]:
df5 = df4[~(df4.total_sqft/df4.bhk<300)]
df5.shape

(12576, 11)

In [20]:
df5.price_per_sqft.describe()

count     12530.000000
mean       6303.979357
std        4162.237981
min         267.829813
25%        4210.526316
50%        5294.117647
75%        6916.666667
max      176470.588235
Name: price_per_sqft, dtype: float64

In [21]:
# function for removing outliers
def remove_pps_outliers(df):
    df_out = pd.DataFrame()
    for key, subdf in df.groupby('location'):
        m = np.mean(subdf.price_per_sqft)
        st = np.std(subdf.price_per_sqft)
        reduced_df = subdf[(subdf.price_per_sqft>(m-st)) & (subdf.price_per_sqft<=(m+st))]
        df_out = pd.concat([df_out,reduced_df],ignore_index=True)
    return df_out


df6 = remove_pps_outliers(df5)
df6.shape

(10301, 11)

In [22]:
def remove_bhk_outliers(df):
    exclude_indices = np.array([])
    for location, location_df in df.groupby('location'):
        bhk_stats = {}
        for bhk, bhk_df in location_df.groupby('bhk'):
            bhk_stats[bhk] = {
                'mean': np.mean(bhk_df.price_per_sqft),
                'std': np.std(bhk_df.price_per_sqft),
                'count': bhk_df.shape[0]
            }
        for bhk, bhk_df in location_df.groupby('bhk'):
            stats = bhk_stats.get(bhk-1)
            if stats and stats['count']>5:
                exclude_indices = np.append(exclude_indices, bhk_df[bhk_df.price_per_sqft<(stats['mean'])].index.values)
    return df.drop(exclude_indices,axis='index')
df8 = df6.copy()
df8 = remove_bhk_outliers(df6)
df8.shape

(7361, 11)

In [23]:
X = df8.drop(['price'],axis='columns')
X.head(3)

,area_type,availability,location,size,total_sqft,bath,balcony,kitchen,bhk,price_per_sqft
0,Super built-up Area,20-May,1st Block Jayanagar,4 BHK,2850.0,4.0,1.0,1,4,15017.543860
1,Super built-up Area,18-Jun,1st Block Jayanagar,3 BHK,1630.0,3.0,2.0,2,3,11901.840491
2,Super built-up Area,Ready To Move,1st Block Jayanagar,3 BHK,1875.0,2.0,3.0,2,3,12533.333333

In [24]:
X.shape

(7361, 10)

In [25]:
y = df8.price
y.head(3)

0    428.0
1    194.0
2    235.0
Name: price, dtype: float64

In [26]:
df8.reset_index(drop=True, inplace=True)

# Create X and y from the updated df8
X = df8.drop(['price'],axis='columns')
y = df8.price

In [27]:
df8.reset_index(drop=True, inplace=True)

# Create X and y from the updated df8
X = df8.drop(['price'],axis='columns')
y = df8.price

from sklearn.preprocessing import OneHotEncoder

# Create a OneHotEncoder object
ohe = OneHotEncoder(sparse_output=False, handle_unknown='ignore') # sparse=False for dense output

# Get categorical columns for one-hot encoding
categorical_cols = ['location', 'area_type']

# Fit and transform the categorical features
encoded_data = ohe.fit_transform(X[categorical_cols])

# Create a DataFrame from the encoded data
encoded_df = pd.DataFrame(encoded_data, columns=ohe.get_feature_names_out(categorical_cols))

# Concatenate the encoded DataFrame with the original DataFrame and drop the original categorical columns
X = pd.concat([X, encoded_df], axis=1).drop(categorical_cols, axis=1)

In [28]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=10)

In [29]:
# Convert 'availability' column to numerical representation using one-hot encoding
# Assuming X_train is your training data DataFrame
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline


# Define categorical and numerical features
categorical_features = ['availability']
numerical_features = X_train.select_dtypes(include=np.number).columns.tolist()  # Get numerical columns


# Create preprocessing pipeline
preprocessor = ColumnTransformer(
    transformers=[
        ('num', 'passthrough', numerical_features),  # Keep numerical features unchanged
        ('cat', OneHotEncoder(sparse_output=False, handle_unknown='ignore'), categorical_features),  # One-hot encode categorical features
    ])

# Create pipeline with preprocessing and Linear Regression
pipeline = Pipeline([
    ('preprocessor', preprocessor),
    ('regressor', LinearRegression())
])

# Fit the pipeline to your training data
pipeline.fit(X_train, y_train)

# Evaluate the model
score = pipeline.score(X_test, y_test)  # Ensure X_test is preprocessed in the same way
print(score)

0.8432594224590073

In [30]:
# prompt: apply standard scaler for all the numerical features only

from sklearn.preprocessing import StandardScaler

# Assuming X is your DataFrame with numerical and categorical features
numerical_cols = X.select_dtypes(include=np.number).columns

# Initialize StandardScaler
scaler = StandardScaler()

# Fit and transform the numerical features
X[numerical_cols] = scaler.fit_transform(X[numerical_cols])

print(X.head())

    availability   size  total_sqft      bath   balcony   kitchen       bhk  \
0         20-May  4 BHK    1.562922  1.531520 -0.710245 -1.014919  1.613549
1         18-Jun  3 BHK    0.153695  0.542507  0.579500  0.985300  0.537411
2  Ready To Move  3 BHK    0.436696 -0.446506  1.869245  0.985300  0.537411
3         15-Dec  3 BHK   -0.342999 -0.446506 -1.999990  0.985300  0.537411
4         18-Jun  2 BHK   -0.302571 -0.446506  0.579500 -1.014919 -0.538727

   price_per_sqft  location_1st Block Jayanagar  location_1st Phase JP Nagar  \
0        3.690543                      32.41252                    -0.046673
1        2.397094                      32.41252                    -0.046673
2        2.659251                      32.41252                    -0.046673
3        1.953515                      32.41252                    -0.046673
4        2.431121                      32.41252                    -0.046673

   ...  location_Yelachenahalli  location_Yelahanka  \
0  ...                -0.038686           -0.109364
1  ...                -0.038686           -0.109364
2  ...                -0.038686           -0.109364
3  ...                -0.038686           -0.109364
4  ...                -0.038686           -0.109364

   location_Yelahanka New Town  location_Yelenahalli  location_Yeshwanthpur  \
0                    -0.057193             -0.032985              -0.071077
1                    -0.057193             -0.032985              -0.071077
2                    -0.057193             -0.032985              -0.071077
3                    -0.057193             -0.032985              -0.071077
4                    -0.057193             -0.032985              -0.071077

   location_other  area_type_Built-up  Area  area_type_Carpet  Area  \
0       -0.431405                 -0.469603               -0.075753
1       -0.431405                 -0.469603               -0.075753
2       -0.431405                 -0.469603               -0.075753
3       -0.431405                  2.129457               -0.075753
4       -0.431405                 -0.469603               -0.075753

   area_type_Plot  Area  area_type_Super built-up  Area
0             -0.301936                        0.608065
1             -0.301936                        0.608065
2             -0.301936                        0.608065
3             -0.301936                       -1.644561
4             -0.301936                        0.608065

[5 rows x 254 columns]

In [31]:
# Import necessary modules
import pandas as pd
import numpy as np
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression


# ... (Your previous code for loading and cleaning data) ...

# Create X and y from the updated df8
X = df8.drop(['price'], axis='columns')
y = df8.price

# Identify all object (string) type columns
categorical_features = X.select_dtypes(include=['object']).columns.tolist()

# Create preprocessing pipeline
preprocessor = ColumnTransformer(
    transformers=[
        ('num', 'passthrough', X.select_dtypes(exclude=['object']).columns.tolist()),  # Keep numerical features unchanged
        ('cat', OneHotEncoder(sparse_output=False, handle_unknown='ignore'), categorical_features),  # One-hot encode all object type features
    ])

# Create pipeline with preprocessing and Linear Regression
pipeline = Pipeline([
    ('preprocessor', preprocessor),
    ('regressor', LinearRegression())
])

# Split data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=10)

# Fit the pipeline to your training data
pipeline.fit(X_train, y_train)

# Evaluate the model
score = pipeline.score(X_test, y_test)
print(score)

0.8424775239250446

In [32]:
# prompt: give the same code for decisiontreeclassifier

from sklearn.tree import DecisionTreeRegressor

# ... (Your previous code for loading and cleaning data) ...

# Create X and y from the updated df8
X = df8.drop(['price'], axis='columns')
y = df8.price

# Identify all object (string) type columns
categorical_features = X.select_dtypes(include=['object']).columns.tolist()

# Create preprocessing pipeline
preprocessor = ColumnTransformer(
    transformers=[
        ('num', 'passthrough', X.select_dtypes(exclude=['object']).columns.tolist()),  # Keep numerical features unchanged
        ('cat', OneHotEncoder(sparse_output=False, handle_unknown='ignore'), categorical_features),  # One-hot encode all object type features
    ])

# Create pipeline with preprocessing and Decision Tree Regressor
pipeline = Pipeline([
    ('preprocessor', preprocessor),
    ('regressor', DecisionTreeRegressor()) # Use DecisionTreeRegressor here
])

# Split data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=10)

# Fit the pipeline to your training data
pipeline.fit(X_train, y_train)

# Evaluate the model
score = pipeline.score(X_test, y_test)
score

0.8441590926162904

In [33]:
# prompt: give the same code for gradboosting

from sklearn.ensemble import GradientBoostingRegressor

# ... (Your previous code for loading and cleaning data) ...

# Create X and y from the updated df8
X = df8.drop(['price'], axis='columns')
y = df8.price

# Identify all object (string) type columns
categorical_features = X.select_dtypes(include=['object']).columns.tolist()

# Create preprocessing pipeline
preprocessor = ColumnTransformer(
    transformers=[
        ('num', 'passthrough', X.select_dtypes(exclude=['object']).columns.tolist()),  # Keep numerical features unchanged
        ('cat', OneHotEncoder(sparse_output=False, handle_unknown='ignore'), categorical_features),  # One-hot encode all object type features
    ])

# Create pipeline with preprocessing and Gradient Boosting Regressor
pipeline = Pipeline([
    ('preprocessor', preprocessor),
    ('regressor', GradientBoostingRegressor()) # Use GradientBoostingRegressor here
])

# Split data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=10)

# Fit the pipeline to your training data
pipeline.fit(X_train, y_train)

# Evaluate the model
score = pipeline.score(X_test, y_test)
score

0.9176381825694744

In [37]:
# prompt: use gridsearchcv for best model

import numpy as np
import pandas as pd
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import GradientBoostingRegressor

# ... (Your existing code for data loading and preprocessing) ...

# Assuming df8 is your final cleaned DataFrame
X = df8.drop(['price'], axis='columns')
y = df8.price

# Identify categorical and numerical features
categorical_features = X.select_dtypes(include=['object']).columns.tolist()
numerical_features = X.select_dtypes(exclude=['object']).columns.tolist()

# Create preprocessing pipeline
preprocessor = ColumnTransformer(
    transformers=[
        ('num', StandardScaler(), numerical_features),
        ('cat', OneHotEncoder(sparse_output=False, handle_unknown='ignore'), categorical_features)
    ])

# Define the models and their parameter grids
models = {
    'LinearRegression': (LinearRegression(), {}),
    'DecisionTreeRegressor': (DecisionTreeRegressor(), {
        'regressor__max_depth': [None, 10, 20],
        'regressor__min_samples_split': [2, 5, 10]
    }),
    'GradientBoostingRegressor': (GradientBoostingRegressor(), {
        'regressor__n_estimators': [50, 100, 200],
        'regressor__learning_rate': [0.01, 0.1, 0.5]
    })
}


best_model = None
best_score = -np.inf

for model_name, (model, param_grid) in models.items():
    pipeline = Pipeline([
        ('preprocessor', preprocessor),
        ('regressor', model)
    ])

    # Use GridSearchCV
    grid_search = GridSearchCV(pipeline, param_grid, cv=5, scoring='r2')
    grid_search.fit(X_train, y_train)

    # Evaluate the best model from GridSearchCV
    score = grid_search.score(X_test, y_test)

    print(f"{model_name}: Best score = {grid_search.best_score_}, Test score = {score}")
    print(f"Best parameters: {grid_search.best_params_}")

    if score > best_score:
        best_score = score
        best_model = grid_search.best_estimator_

print(f"\nBest model overall: {type(best_model.named_steps['regressor']).__name__} with score: {best_score}")

LinearRegression: Best score = 0.9351924982902655, Test score = 0.8424769908532839
Best parameters: {}
DecisionTreeRegressor: Best score = 0.9313167622106899, Test score = 0.8519556758897182
Best parameters: {'regressor__max_depth': None, 'regressor__min_samples_split': 5}
GradientBoostingRegressor: Best score = 0.9535178393577622, Test score = 0.9215834561165153
Best parameters: {'regressor__learning_rate': 0.1, 'regressor__n_estimators': 200}

Best model overall: GradientBoostingRegressor with score: 0.9215834561165153

In [38]:
# prompt: code for lasso regression

from sklearn.linear_model import Lasso

# ... (Your existing code for data loading and preprocessing) ...

# Assuming df8 is your final cleaned DataFrame
X = df8.drop(['price'], axis='columns')
y = df8.price

# Identify categorical and numerical features
categorical_features = X.select_dtypes(include=['object']).columns.tolist()
numerical_features = X.select_dtypes(exclude=['object']).columns.tolist()

# Create preprocessing pipeline
preprocessor = ColumnTransformer(
    transformers=[
        ('num', StandardScaler(), numerical_features),
        ('cat', OneHotEncoder(sparse_output=False, handle_unknown='ignore'), categorical_features)
    ])

# Create a pipeline with Lasso regression
pipeline = Pipeline([
    ('preprocessor', preprocessor),
    ('regressor', Lasso(alpha=0.1)) # You can adjust the alpha parameter
])

# Split data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=10)

# Fit the pipeline to your training data
pipeline.fit(X_train, y_train)

# Evaluate the model
score = pipeline.score(X_test, y_test)
print(f"Lasso Regression R-squared score: {score}")

# You can perform hyperparameter tuning using GridSearchCV for Lasso as well:
param_grid = {
    'regressor__alpha': [0.01, 0.1, 1, 10] # Example alpha values
}
grid_search = GridSearchCV(pipeline, param_grid, cv=5, scoring='r2')
grid_search.fit(X_train, y_train)
print(f"Best Lasso Regression score: {grid_search.best_score_}")
print(f"Best hyperparameters: {grid_search.best_params_}")

Lasso Regression R-squared score: 0.8421414486345384
Best Lasso Regression score: 0.9374006230764911
Best hyperparameters: {'regressor__alpha': 0.01}

In [39]:
# prompt: give mse,r2 score

from sklearn.metrics import mean_squared_error, r2_score

# ... (Your existing code) ...

# Make predictions on the test set using the best model
y_pred = best_model.predict(X_test)

# Calculate MSE and R-squared
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print(f"Mean Squared Error (MSE): {mse}")
print(f"R-squared (R2): {r2}")

Mean Squared Error (MSE): 654.1211590988956
R-squared (R2): 0.9215834561165153

In [40]:
# prompt: average price per square feet

# Assuming df4 is your DataFrame with 'price_per_sqft' column
average_price_per_sqft = df4['price_per_sqft'].mean()
print(f"Average price per square foot: {average_price_per_sqft}")

Average price per square foot: 7907.501199891659